# Exercício Visualização de Dados

**Dupla**: 

Gabriel Viana Raulino - 509291 

Kauan Oliveira Perdigão Lopes - 514867

Pergunta de pesquisa: **Quais bairros são mais afetados por problemas de infraestrutura?**

## **Considerações inicias:** 
### Foi utilizado um filtro no site do dataset para reduzir o tamanho do csv e remover previamente algumas informações desnecessárias.
### **Filtro 1**: Foi inserido apenas as ocorrências das datas entre 2020 Jan 01 12:00:00 AM a 2025 Jan 01 12:00:00 AM
### **Filtro 2**: Foi utilizado apenas as seguintes colunas
- **Created Date**
- **Complaint Type**
- **Location Type**
- **Street Name**
- **City**

In [1]:
import pandas as pd

df = pd.read_csv('311.csv')

df.head()

,Created Date,Complaint Type,Location Type,Street Name,City
0,12/31/2024 11:59:38 PM,Illegal Fireworks,Street/Sidewalk,AVENUE C,NaN
1,12/31/2024 11:59:33 PM,Noise - Residential,Residential Building/House,EAST 230 STREET,BRONX
2,12/31/2024 11:59:32 PM,Noise - Residential,Residential Building/House,MALCOLM X BOULEVARD,BROOKLYN
3,12/31/2024 11:59:31 PM,Noise - Residential,Residential Building/House,EAST 230 STREET,BRONX
4,12/31/2024 11:59:21 PM,Noise - Residential,Residential Building/House,NEWKIRK AVENUE,BROOKLYN

In [2]:
df

,Created Date,Complaint Type,Location Type,Street Name,City
0,12/31/2024 11:59:38 PM,Illegal Fireworks,Street/Sidewalk,AVENUE C,NaN
1,12/31/2024 11:59:33 PM,Noise - Residential,Residential Building/House,EAST 230 STREET,BRONX
2,12/31/2024 11:59:32 PM,Noise - Residential,Residential Building/House,MALCOLM X BOULEVARD,BROOKLYN
3,12/31/2024 11:59:31 PM,Noise - Residential,Residential Building/House,EAST 230 STREET,BRONX
4,12/31/2024 11:59:21 PM,Noise - Residential,Residential Building/House,NEWKIRK AVENUE,BROOKLYN
...,...,...,...,...,...
11351135,07/24/2021 03:27:02 PM,Noise - Residential,Residential Building/House,PARKVILLE AVENUE,BROOKLYN
11351136,07/24/2021 03:27:00 PM,Request Large Bulky Item Collection,Sidewalk,EAST 18 STREET,BROOKLYN
11351137,07/24/2021 03:27:00 PM,Sanitation Condition,Street,REMSEN AVENUE,BROOKLYN
11351138,07/24/2021 03:26:24 PM,Homeless Person Assistance,Street/Sidewalk,NINTH AVENUE,MANHATTAN
11351139,07/24/2021 03:26:10 PM,Illegal Parking,Street/Sidewalk,NaN,NaN

#### Aqui podemos ver a quantidade de elementos null em cada coluna

In [4]:
value_counts = df[['Complaint Type', 'Location Type', 'Street Name', 'City']].isnull().sum()
print(value_counts)

Complaint Type          0
Location Type     1387599
Street Name        470139
City               579810
dtype: int64